<p class="nadpis3">Vítejte na stránkách testování znalostí z matematiky.</p>
<p>Tento projekt byl vytvořen jako pomůcká pro testování znalostí z předmětu ZMAT2, oblasti Matic na <a href="http://www.uhk.cz">Univerzitě Hradec Králové</a>.</p>
<p>Pokud máte nejaké připomínky nebo návrhy na zlepšení, neváhejte a pište.</p>
<p>&#169;&#32;<a href="mailto:petr.hoffmann@uhk.cz">Petr Hoffmann</a>, 2010</p>